<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs")%>
<body class="container">
    <div>
        <%- include ("./partials/nav.ejs")%>
    </div>
    <div class="wrapper">
        <h1>See list of Sellers and their stock</h1>
        <% if(found_seller_data.length) {found_seller_data.forEach(found_seller_data=> { %>
            <h3>Seller : <%= found_seller_data.user.name %></h3>
            <p>Contact info : <%= found_seller_data.user.email %> </p>
            <p>Vegtable on sale : <%= found_seller_data.veg %> </p>
            <p>Amount avaible : <%= found_seller_data.amount %> </p>
            <p>Location : <%= found_seller_data.county %> </p>
        <% });} else { %>
            <p>Sorry there is no Sellers</p>
        <% } %>

    </div>
    <script src="/js/get_seller_data.js"></script>
</body>
</html>